
.icon-mail:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-behance:before { content: '\e802'; } /* '' */
.icon-dribbble:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-gplus:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-award:before { content: '\e807'; } /* '' */
.icon-brush:before { content: '\e808'; } /* '' */
.icon-megaphone:before { content: '\e809'; } /* '' */
.icon-rocket:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */